#login {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#username {
    margin: 20px;
}

#password {
    margin: 20px;
}

#button {
    position: absolute;
    left: 150px;
}

.error {
    color: red;
}

#main {
    display: none;
}

#square {
    display: none;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
}

.back {
    display: none;
}

.products {
    display: none;
    margin-left: -15px;
    opacity: 0;
}
