.product-details {
  .x-innerhtml {
    height: 100% !important;
    .product-container {
      height: 100% !important;
      .image {
        display: flex;
        height: 50%;
        padding: 25px;
      }
      .product-name {
        text-align: center;
      }
      .infos {
        @include display-flex;

        .description {
          width: 300px;
          height: 100%;
          padding: 25px;
        }
        .price {
          width: 300px;
          height: 100%;
          padding: 25px;
        }
      }
    }
  }
}