// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
// Custom code goes here..
// Examples of using the icon mixin:
// @include icon('user');

@import 'list';
@import 'product-details';
@import 'login';
@import "checkout";

@include icon-font('wtccustomicons', inline-font-files(
                'icomoon/icomoon.woff', woff,
                'icomoon/icomoon.ttf', truetype,
                'icomoon/icomoon.svg', svg
));
//
//@include icon-font('Pictos', inline-font-files(
//                'pictos/pictos-web.woff', woff,
//                'pictos/pictos-web.ttf', truetype,
//                'pictos/pictos-web.svg', svg
//));

@include icon("cart", "\e600", "wtccustomicons");